In [1]:
pwd

'C:\\Users\\polla\\Desktop\\computo cognitivo'

In [3]:
import pandas as pd
import numpy as np








df=pd.read_csv('C:/Users/polla/Desktop/computo cognitivo/Bases de datos/incidentes_viales_c5.csv')

In [4]:
df.head(5)

,Unnamed: 0,folio,fecha_creacion,hora_creacion,dia_semana,codigo_cierre,fecha_cierre,ano_cierre,mes_cierre,hora_cierre,delegacion_inicio,incidente_c4,latitud,longitud,clas_con_f_alarma,tipo_entrada,delegacion_cierre
0,1,C5/190301/00531,NaN,1:32:21,Viernes,D,NaN,2019,Marzo,1:37:47,BENITO JUAREZ,accidente-choque con lesionados,19.38076,-99.18087,URGENCIAS MEDICAS,LLAMADA DEL 911,BENITO JUAREZ
1,2,C5/190301/03669,NaN,12:09:38,Viernes,N,NaN,2019,Marzo,13:27:46,VENUSTIANO CARRANZA,accidente-choque sin lesionados,19.41559,-99.12331,EMERGENCIA,LLAMADA DEL 911,VENUSTIANO CARRANZA
2,3,C5/190301/04309,NaN,13:42:49,Viernes,A,NaN,2019,Marzo,14:31:03,VENUSTIANO CARRANZA,accidente-choque con lesionados,19.44807,-99.12128,URGENCIAS MEDICAS,LLAMADA DEL 911,VENUSTIANO CARRANZA
3,4,C5/190301/04781,NaN,14:54:41,Viernes,D,NaN,2019,Marzo,15:00:13,IZTAPALAPA,accidente-choque con lesionados,19.36689,-99.07233,URGENCIAS MEDICAS,LLAMADA DEL 911,IZTAPALAPA
4,5,C5/190301/06138,NaN,17:26:15,Viernes,N,NaN,2019,Marzo,18:04:07,BENITO JUAREZ,accidente-choque sin lesionados,19.40118,-99.1611,EMERGENCIA,LLAMADA DEL 911,BENITO JUAREZ

In [5]:
df.shape

(1552442, 17)

In [6]:
df.columns

Index(['Unnamed: 0', 'folio', 'fecha_creacion', 'hora_creacion', 'dia_semana',
       'codigo_cierre', 'fecha_cierre', 'ano_cierre', 'mes_cierre',
       'hora_cierre', 'delegacion_inicio', 'incidente_c4', 'latitud',
       'longitud', 'clas_con_f_alarma', 'tipo_entrada', 'delegacion_cierre'],
      dtype='object')

In [7]:
df.dtypes

Unnamed: 0             int64
folio                 object
fecha_creacion        object
hora_creacion         object
dia_semana            object
codigo_cierre         object
fecha_cierre         float64
ano_cierre            object
mes_cierre            object
hora_cierre           object
delegacion_inicio     object
incidente_c4          object
latitud               object
longitud              object
clas_con_f_alarma     object
tipo_entrada          object
delegacion_cierre     object
dtype: object

# (a) ¿Cual es la alcaldia con mas eventos?

In [8]:
#nombre de delitos
df.incidente_c4.unique()

array(['accidente-choque con lesionados',
       'accidente-choque sin lesionados', 'lesionado-atropellado',
       'accidente-volcadura',
       'accidente-persona atrapada / desbarrancada',
       'accidente-motociclista', 'accidente-otros',
       'accidente-vehiculo desbarrancado',
       'accidente-choque con prensados',
       'cadáver-accidente automovilístico',
       'detención ciudadana-atropellado', 'accidente-vehiculo atrapado',
       'cadáver-atropellado', 'accidente-ferroviario',
       'detención ciudadana-accidente automovilístico',
       'Detención ciudadana-accidente automovilístico',
       'lesionado-accidente automovilístico',
       'sismo-choque sin lesionados', 'sismo-choque con lesionados',
       'sismo-persona atropellada', 'sismo-choque con prensados',
       'accidente-ciclista', 'accidente-vehículo atrapado-varado',
       'accidente-monopatín', 'mi ciudad-calle-incidente de tránsito',
       'mi ciudad-taxi-incidente de tránsito', 'N', 'A', 'D', 'F', 'I'],
      dtype=object)

In [9]:
df_delegacion=df.delegacion_cierre.unique()

In [10]:
del_alc = df.groupby(['delegacion_cierre'],as_index=False).size().sort_values('size',ascending=False)

In [11]:
del_alc.head(30)

      delegacion_cierre    size
16           IZTAPALAPA  235042
14    GUSTAVO A. MADERO  153447
13           CUAUHTEMOC  147021
18       MIGUEL HIDALGO  117080
11             COYOACAN  110740
8        ALVARO OBREGON  107815
10        BENITO JUAREZ  107222
21              TLALPAN   96569
22  VENUSTIANO CARRANZA   95873
9          AZCAPOTZALCO   62108
15            IZTACALCO   61935
23           XOCHIMILCO   53006
20              TLAHUAC   34795
12           CUAJIMALPA   27111
17  MAGDALENA CONTRERAS   20499
6                     9   17349
2                     5   17131
4                     7   16634
3                     6   16592
5                     8   16256
1                     4   14817
0                     3   11871
19           MILPA ALTA    7512
7                     3    3870

## Podemos ver que en la alcaldia IZTAPALAPA es donde hay mas registros de accidentes detectados por la c5

 # (b)¿Cual es la alcaldia con mas accidentes de ciclistas?

In [12]:
df.columns

Index(['Unnamed: 0', 'folio', 'fecha_creacion', 'hora_creacion', 'dia_semana',
       'codigo_cierre', 'fecha_cierre', 'ano_cierre', 'mes_cierre',
       'hora_cierre', 'delegacion_inicio', 'incidente_c4', 'latitud',
       'longitud', 'clas_con_f_alarma', 'tipo_entrada', 'delegacion_cierre'],
      dtype='object')

In [13]:
unicosdel=df['incidente_c4'].unique()
unicosdel

array(['accidente-choque con lesionados',
       'accidente-choque sin lesionados', 'lesionado-atropellado',
       'accidente-volcadura',
       'accidente-persona atrapada / desbarrancada',
       'accidente-motociclista', 'accidente-otros',
       'accidente-vehiculo desbarrancado',
       'accidente-choque con prensados',
       'cadáver-accidente automovilístico',
       'detención ciudadana-atropellado', 'accidente-vehiculo atrapado',
       'cadáver-atropellado', 'accidente-ferroviario',
       'detención ciudadana-accidente automovilístico',
       'Detención ciudadana-accidente automovilístico',
       'lesionado-accidente automovilístico',
       'sismo-choque sin lesionados', 'sismo-choque con lesionados',
       'sismo-persona atropellada', 'sismo-choque con prensados',
       'accidente-ciclista', 'accidente-vehículo atrapado-varado',
       'accidente-monopatín', 'mi ciudad-calle-incidente de tránsito',
       'mi ciudad-taxi-incidente de tránsito', 'N', 'A', 'D', 'F', 'I'],
      dtype=object)

In [14]:
delegacionc=df.delegacion_cierre.unique()
delegacionc

array(['BENITO JUAREZ', 'VENUSTIANO CARRANZA', 'IZTAPALAPA',
       'ALVARO OBREGON', 'CUAUHTEMOC', 'MIGUEL HIDALGO',
       'GUSTAVO A. MADERO', 'COYOACAN', 'TLALPAN', 'CUAJIMALPA',
       'XOCHIMILCO', 'MILPA ALTA', 'AZCAPOTZALCO', 'IZTACALCO',
       'MAGDALENA CONTRERAS', 'TLAHUAC', nan, '3', 3, 4, 5, 6, 7, 8, 9],
      dtype=object)

In [15]:
#meter en una variable datos a utilizar si no funciona lo que estoy haciendo ocuapr esto 
df1 = df[['ano_cierre','fecha_creacion','incidente_c4','delegacion_cierre','tipo_entrada','delegacion_inicio']]

In [16]:


df5=df1.groupby('incidente_c4')['delegacion_cierre'].count()['accidente-ciclista']
df5

3422

In [18]:
ciclistas= df1.groupby(['delegacion_cierre'])['incidente_c4'].apply(lambda x: x[x.str.contains('accidente-ciclista')].count())
ciclistas

delegacion_cierre
3                        0
4                        0
5                        0
6                        0
7                        0
8                        0
9                        0
3                        0
ALVARO OBREGON         185
AZCAPOTZALCO           155
BENITO JUAREZ          300
COYOACAN               273
CUAJIMALPA              25
CUAUHTEMOC             587
GUSTAVO A. MADERO      323
IZTACALCO              163
IZTAPALAPA             406
MAGDALENA CONTRERAS     60
MIGUEL HIDALGO         308
MILPA ALTA              29
TLAHUAC                 89
TLALPAN                197
VENUSTIANO CARRANZA    165
XOCHIMILCO             157
Name: incidente_c4, dtype: int64

# Podemos ver que en la alcaldia  CUAUHTEMOC son mas accidentes de ciclistas

# c) ¿Que dıa de la semana se registran la mayor cantidad de incidentes?

In [19]:
df.columns

Index(['Unnamed: 0', 'folio', 'fecha_creacion', 'hora_creacion', 'dia_semana',
       'codigo_cierre', 'fecha_cierre', 'ano_cierre', 'mes_cierre',
       'hora_cierre', 'delegacion_inicio', 'incidente_c4', 'latitud',
       'longitud', 'clas_con_f_alarma', 'tipo_entrada', 'delegacion_cierre'],
      dtype='object')

In [20]:
df.head()

,Unnamed: 0,folio,fecha_creacion,hora_creacion,dia_semana,codigo_cierre,fecha_cierre,ano_cierre,mes_cierre,hora_cierre,delegacion_inicio,incidente_c4,latitud,longitud,clas_con_f_alarma,tipo_entrada,delegacion_cierre
0,1,C5/190301/00531,NaN,1:32:21,Viernes,D,NaN,2019,Marzo,1:37:47,BENITO JUAREZ,accidente-choque con lesionados,19.38076,-99.18087,URGENCIAS MEDICAS,LLAMADA DEL 911,BENITO JUAREZ
1,2,C5/190301/03669,NaN,12:09:38,Viernes,N,NaN,2019,Marzo,13:27:46,VENUSTIANO CARRANZA,accidente-choque sin lesionados,19.41559,-99.12331,EMERGENCIA,LLAMADA DEL 911,VENUSTIANO CARRANZA
2,3,C5/190301/04309,NaN,13:42:49,Viernes,A,NaN,2019,Marzo,14:31:03,VENUSTIANO CARRANZA,accidente-choque con lesionados,19.44807,-99.12128,URGENCIAS MEDICAS,LLAMADA DEL 911,VENUSTIANO CARRANZA
3,4,C5/190301/04781,NaN,14:54:41,Viernes,D,NaN,2019,Marzo,15:00:13,IZTAPALAPA,accidente-choque con lesionados,19.36689,-99.07233,URGENCIAS MEDICAS,LLAMADA DEL 911,IZTAPALAPA
4,5,C5/190301/06138,NaN,17:26:15,Viernes,N,NaN,2019,Marzo,18:04:07,BENITO JUAREZ,accidente-choque sin lesionados,19.40118,-99.1611,EMERGENCIA,LLAMADA DEL 911,BENITO JUAREZ

In [21]:

df2 = df[['dia_semana','fecha_creacion','incidente_c4','delegacion_cierre','tipo_entrada','delegacion_inicio']]

In [22]:
dias1 =df2.groupby(['dia_semana'],as_index=False).size().sort_values('size',ascending=False)
dias1

  dia_semana    size
8    Viernes  256786
6     Sábado  223337
1     Jueves  220656
3     Martes  211141
2      Lunes  203942
4  Miércoles  201247
0    Domingo  200980
7     S�bado   19338
5  Mi�rcoles   15015

# Podemos  ver que  los dias de la semana  donde mas delitos hay , son apartir del viernes

# (d) ¿A que hora del dıa se registran la mayor cantidad de incidentes?

In [23]:
df.columns

Index(['Unnamed: 0', 'folio', 'fecha_creacion', 'hora_creacion', 'dia_semana',
       'codigo_cierre', 'fecha_cierre', 'ano_cierre', 'mes_cierre',
       'hora_cierre', 'delegacion_inicio', 'incidente_c4', 'latitud',
       'longitud', 'clas_con_f_alarma', 'tipo_entrada', 'delegacion_cierre'],
      dtype='object')

In [24]:
df.head()

,Unnamed: 0,folio,fecha_creacion,hora_creacion,dia_semana,codigo_cierre,fecha_cierre,ano_cierre,mes_cierre,hora_cierre,delegacion_inicio,incidente_c4,latitud,longitud,clas_con_f_alarma,tipo_entrada,delegacion_cierre
0,1,C5/190301/00531,NaN,1:32:21,Viernes,D,NaN,2019,Marzo,1:37:47,BENITO JUAREZ,accidente-choque con lesionados,19.38076,-99.18087,URGENCIAS MEDICAS,LLAMADA DEL 911,BENITO JUAREZ
1,2,C5/190301/03669,NaN,12:09:38,Viernes,N,NaN,2019,Marzo,13:27:46,VENUSTIANO CARRANZA,accidente-choque sin lesionados,19.41559,-99.12331,EMERGENCIA,LLAMADA DEL 911,VENUSTIANO CARRANZA
2,3,C5/190301/04309,NaN,13:42:49,Viernes,A,NaN,2019,Marzo,14:31:03,VENUSTIANO CARRANZA,accidente-choque con lesionados,19.44807,-99.12128,URGENCIAS MEDICAS,LLAMADA DEL 911,VENUSTIANO CARRANZA
3,4,C5/190301/04781,NaN,14:54:41,Viernes,D,NaN,2019,Marzo,15:00:13,IZTAPALAPA,accidente-choque con lesionados,19.36689,-99.07233,URGENCIAS MEDICAS,LLAMADA DEL 911,IZTAPALAPA
4,5,C5/190301/06138,NaN,17:26:15,Viernes,N,NaN,2019,Marzo,18:04:07,BENITO JUAREZ,accidente-choque sin lesionados,19.40118,-99.1611,EMERGENCIA,LLAMADA DEL 911,BENITO JUAREZ

In [29]:
uinicahora=df.hora_creacion.unique()

array(['1:32:21', '12:09:38', '13:42:49', ..., '03:51:38', '02:02:28',
       '04:55:35'], dtype=object)

In [32]:
df2 = df[['hora_creacion','dia_semana','fecha_creacion','incidente_c4','delegacion_cierre','tipo_entrada','delegacion_inicio']]

In [48]:
hora =df2.groupby(['hora_creacion','dia_semana'],as_index=False).size().sort_values('size',ascending=False)
hora

       hora_creacion dia_semana  size
454269      20:44:00    Viernes    26
357988      17:12:00     Jueves    22
479024      21:40:00     Jueves    22
460917      20:59:00     Jueves    21
448929      20:32:00    Viernes    21
...              ...        ...   ...
188243      10:29:35     Sábado     1
188244      10:29:35    Viernes     1
188246      10:29:36     Jueves     1
188250      10:29:36     Sábado     1
556329       9:59:58    Viernes     1

[556330 rows x 3 columns]

In [50]:
hora.max()

hora_creacion    9:59:58
dia_semana       Viernes
size                  26
dtype: object

In [52]:
hora_semana=df2.groupby(['hora_creacion'],as_index=False).size().sort_values('size',ascending=False)
hora_semana

      hora_creacion  size
80744      20:44:00    84
71316      18:38:00    78
73596      19:16:00    78
71856      18:47:00    78
74436      19:30:00    76
...             ...   ...
94845       3:35:38     1
94849       3:35:54     1
94851       3:36:01     1
94852       3:36:02     1
0       0.000138889     1

[106420 rows x 2 columns]

###### OBSERVAMOS QUE LA HORA CON MAS ACCIDENTES DE LA SEMANA ES  20:44:00 *Viernes* **CON 26 REGISTROS**